h1 {
    text-align:center;
}

h4 {
    text-align:center;
}

.form_authetication {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form_enter_info {
    display: flex;
    justify-content: center;
}

.form_enter_info textarea {
    resize: none;
}

form {
    display: flex;
    flex-direction: column;
}

.django-form-adjusted p {
    display: grid;
    grid-template-columns: 75px 1fr;
}

.buttons_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.error {
    display: block;
    color: red;
}

.profile_container {
    width: 1140px;
    margin: 0 auto;
}

.user_info {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.avatar {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.avatar img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.full_name_and_edit {
    display: flex;
    align-items: center;
}

.edit_button {
    height: 25px;
    margin-left: 25px;
}

.bio {
   word-wrap: break-word;
   width: 400px;
}

