h1 {
    text-align:center;
}

h4 {
    text-align:center;
}

.form_authetication {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form_enter_info {
    display: flex;
    justify-content: center;
}

.form_enter_info textarea {
    resize: none;
}

form {
    display: flex;
    flex-direction: column;
}

.django-form-adjusted p {
    display: grid;
    grid-template-columns: 75px 1fr;
}

.buttons_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.error {
    display: block;
    color: red;
}

.profile_container {
    width: 1140px;
    margin: 0 auto;
}

.user_info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 300px;
}

.user_posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 373.33px;
    grid-gap: 10px;
}

.user_posts img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-area:hover{
    filter: brightness(50%);
}

.avatar {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.avatar img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.full_name_and_edit {
    display: flex;
    align-items: center;
}

.bio {
   word-wrap: break-word;
   width: 450px;
}

