h1 {
    text-align:center;
}

h4 {
    text-align:center;
}

.form_authetication {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form_enter_info {
    display: flex;
    justify-content: center;
}

.form_enter_info textarea {
    resize: none;
}

form {
    display: flex;
    flex-direction: column;
}

p {
    display: grid;
    grid-template-columns: 75px 1fr;
}

.buttons_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.error {
    display: block;
    color: red;
}