.fields {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 350px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons_container button{
    box-sizing: border-box;
    width: 100%;
}

.form_enter_info {
    display: flex;
    justify-content: center;
}

h1 {
    text-align:center;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field input {
    box-sizing: border-box;
    width: 100%;
}