<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
    <title>DjangoGramm</title>
</head>
<body>
    <div class="form_authetication">
        <form action="{% url 'app:handle_authentication' %}"  method="POST">
            {% csrf_token %}
            <div class="django-form-adjusted">
                {{ form.as_p }} </br>
            </div>
            <div class="buttons_container">
                <button name="proceed" type="submit" value="login">Login</button>
                <button name="proceed" type="submit" value="register">Register</button>
            </div>
            {% if invalid_credentials %}
                <p class="error">Invalid username or password</p>
            {% elif invalid_email %}
                <p class="error">Invalid email</p>
            {% endif %}
        </form>
    </div>
</body>
</html>