<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load app_extras %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/post_detail.css' %}">
    <title>DjangoGramm</title>
</head>
<body>
    <div class="post">
        <div class="post-user">
            <div class="avatar">
                <a href="{% url 'app:profile' post.user.id %}">
                    <img src="{{ post.user.avatar.url }}">
                </a>
            </div>
            <div class="author">
                <a href="{% url 'app:profile' post.user.id %}">
                    {{ post.user }}
                </a>
            </div>
        </div>
        <div class="post-image"><img src="{{ post.image.url }}"></div>
        <div class="caption">
            <p>
                <span class="author">
                    <a href="{% url 'app:profile' post.user.id %}">{{ post.user }}</a>
                </span>
                {{ post.caption }}
            </p>
        </div>
        <p>{{ post.pub_date.month|month_name }} {{ post.pub_date.day }}, {{ post.pub_date.year }}</p>
    </div>
    <div class="options">
        <button type="button" onclick="location.href=`{% url 'app:post_update' post.id %}`">Edit</button>
        <button type="button" onclick="location.href=`{% url 'app:post_delete' post.id %}`">Delete</button>
    </div>
</body>
</html>