{% extends "app/base_navbar.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/user_detail.css' %}">
{{ block.super }}
{% endblock %}

{% block below-navbar %}
<div class="col-4">
    <div class="py-5 d-flex flex-row justify-content-center">
        {% if can_edit %}
            {% if user.avatar %}
                <a href="{% url 'app:change_avatar' auth_user.id %}">
<!--                    <div data-bs-toggle="modal" data-bs-target="#editAvatarModal">-->
                    <img src="{{ user.avatar.url }}" class="avatar-img">
<!--                    </div>-->
                </a>
            {% else %}
                <label for="id_avatar">
                    <img src="{% static 'app/empty_user.jpg' %}" class="avatar-img" style="cursor: pointer;"
                         data-bs-toggle="tooltip" data-bs-placement="right" title="Add a profile photo">
                </label>
                <form method="post" enctype="multipart/form-data" id="form_empty_img"
                      action="{% url 'app:change_avatar' auth_user.id %}">
                    {% csrf_token %}
                    <input type="file" name="avatar" accept="image/*" id="id_avatar" style="display: none;">
                </form>
            {% endif %}

        {% else %}
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" class="avatar-img">
            {% else %}
                <img src="{% static 'app/empty_user.jpg' %}" class="avatar-img">
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="col-8">
    <h3 class="display-6">{{ user.first_name }} {{ user.last_name }}</h3>
    <p class="text-wrap">{{ user.bio }}</p>
</div>

<!-- Modal Edit Avatar-->
<div class="modal fade" id="editAvatarModal" tabindex="-1" aria-labelledby="editAvatarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAvatarModalLabel">Edit photo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" enctype="multipart/form-data" action="{% url 'app:change_avatar' auth_user.id %}">{% csrf_token %}
                <div class="modal-body">
<!--                    <input type="checkbox" name="avatar-clear" id="avatar-clear_id">-->
<!--                    <input type="file" name="avatar" accept="image/*" id="id_avatar">-->
                </div>
                <div class="modal-footer" style="border-top: none;">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block second-row %}
<div class="user_posts"></div>
{% endblock %}

{% block script %}
<script src="{% static 'app/js/profile_page.js' %}" user_id={{ user.id }} post_count={{ user.post_set.count }}></script>
<script>
    document.getElementById("id_avatar").onchange = function() {
        document.getElementById("form_empty_img").submit();
    };
</script>
{% endblock %}