<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
    <title>DjangoGramm</title>
</head>
<body>
    <h1>Welcome to DjangoGramm {{ user.email }}</h1>
    <h4>Please enter some basic info about you</h4>
    <div class="form_enter_info">
        <form enctype="multipart/form-data" action="{% url 'app:enter_info' user.id %}"  method="POST">
            {% csrf_token %}
            {{ form.as_p }} </br>
            <div class="buttons_container">
                <button type="button" onclick="location.href=`{% url 'app:logout'%}`">Logout</button>
                <button name="proceed" type="submit" value="continue">Continue</button>
            </div>
        </form>
    </div>
</body>
</html>