{% extends "app/base_navbar.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/user_detail.css' %}">
{{ block.super }}
{% endblock %}

{% block below-navbar %}
<div class="col-4">
    <div class="py-5 d-flex flex-row justify-content-center">
        {% if can_edit %}
            {% if user.avatar %}
                <div data-bs-toggle="modal" data-bs-target="#editAvatarModal">
                    <img src="{{ user.avatar.url }}" class="avatar-img" style="cursor: pointer;">
                </div>
            {% else %}
                <label for="id_avatar">
                    <img src="{% static 'app/img/empty_user.jpg' %}" class="avatar-img" style="cursor: pointer;"
                         data-bs-toggle="tooltip" data-bs-placement="right" title="Add a profile photo">
                </label>
                <form method="post" enctype="multipart/form-data" id="form_empty_img"
                      action="{% url 'app:change_avatar' auth_user.id %}">
                    {% csrf_token %}
                    <input type="file" name="avatar" accept="image/*" id="id_avatar" style="display: none;">
                </form>
            {% endif %}

        {% else %}
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" class="avatar-img">
            {% else %}
                <img src="{% static 'app/img/empty_user.jpg' %}" class="avatar-img">
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="col-8">
    <h3 class="display-6 mb-4">{{ user.first_name }} {{ user.last_name }}</h3>
    <div class="d-flex flex-row mb-4">
        <div class="user-info">
            <p class="amount">{{ num_posts }}</p>
            {% if num_posts == 1 %}
                <p>Post</p>
            {% else %}
                <p>Posts</p>
            {% endif %}
        </div>
        <div class="mx-3 mx-md-5 user-info">
            <p class="amount">{{ followers|length }}</p>
            {% if followers|length == 1 %}
                <p>Follower</p>
            {% else %}
                <p>Followers</p>
            {% endif %}
        </div>
        <div class="user-info">
            <p class="amount">{{ following|length }}</p>
            <p>Following</p>
        </div>
    </div>
    <p class="text-wrap" id="bio">{{ user.bio }}</p>
</div>

<!-- Modal Edit Avatar-->
<div class="modal fade" id="editAvatarModal" tabindex="-1" aria-labelledby="editAvatarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 12px;">
            <div class="modal-header d-flex flex-column align-items-center">
                <h5 class="modal-title" id="editAvatarModalLabel">Change Profile Photo</h5>
            </div>
            <div class="modal-body d-flex flex-column" style="padding: 0;">
                <label for="id_avatar_nonempty">
                    <div class="border-bottom py-3 text-primary fw-bold" style="text-align: center; cursor: pointer;">
                        Upload Photo
                    </div>
                </label>
                <form method="post" enctype="multipart/form-data" id="form_nonempty_img" class="border-bottom py-3"
                      action="{% url 'app:change_avatar' auth_user.id %}" style="text-align: center;">
                    {% csrf_token %}
                    <input type="file" name="avatar" accept="image/*" id="id_avatar_nonempty" style="display: none;">
                    <button type="submit" class="text-danger fw-bold" name="delete_avatar"
                            value="true" style="background: none; border: none;">
                        Remove Current Photo
                    </button>
                </form>
                <button type="button" class="py-3 cancel-modal" data-bs-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Confirm Unfollow-->
<div class="modal fade" id="unfollowModal" tabindex="-1" aria-labelledby="unfollowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 12px;">
            <div class="modal-header d-flex flex-column align-items-center">
                <h5 class="modal-title" id="unfollowModalLabel">
                    Unfollow {{ user.first_name }} {{ user.last_name }}?
                </h5>
            </div>
            <div class="modal-body d-flex flex-column" style="padding: 0;">
                <button type="button" id='confirm-unfollow' class="border-bottom py-3 text-danger fw-bold"
                        data-bs-dismiss="modal">
                    Unfollow
                </button>
                <button type="button" class="py-3 cancel-modal" data-bs-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block second-row %}
<div class="user_posts"></div>
{% endblock %}

{% block script %}
{{ follow_params|json_script:"follow-data" }}
{{ auth_user.id|json_script:"auth-user-id" }}
<script src="{% static 'app/js/profile_page.js' %}" user_id={{ user.id }} post_count={{ user.post_set.count }}>
</script>
<script>
    if (document.getElementById("id_avatar")) {
        document.getElementById("id_avatar").onchange = function() {
            document.getElementById("form_empty_img").submit();
        };
    };
    document.getElementById("id_avatar_nonempty").onchange = function() {
        document.getElementById("form_nonempty_img").submit();
    };
</script>
{% endblock %}