<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/user_edit_profile.css' %}">
    <title>DjangoGramm</title>
</head>
<body>
    <h1>DjangoGramm</h1>
    <div class="form_enter_info">
        <form enctype="multipart/form-data" action="{% url 'app:edit_profile' user.id %}"  method="POST">
            {% csrf_token %}
            <div class="form-container">
                <div class="fields">
                    <div class="field">
                        <div>{{ form.first_name.label }}</div>
                        <div>{{ form.first_name }}</div>
                    </div>
                    <div class="field">
                        <div>{{ form.last_name.label }}</div>
                        <div>{{ form.last_name }}</div>
                    </div>
                    <div class="field">
                        <div>{{ form.bio.label }}</div>
                        <div>{{ form.bio }}</div>
                    </div>
                    <div>
                        <div>Avatar</div>
                        <div>{{ form.avatar }}</div>
                    </div>
                </div>
                <div class="buttons_container">
                    <button name="proceed" type="submit" value="continue">Submit</button>
                    <button type="button" onclick="location.href=`{% url 'app:profile' user.id %}`">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>